NEXT_PUBLIC_SUPABASE_URL=https://nwpvsxbrftplvebseaas.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53cHZzeGJyZnRwbHZlYnNlYWFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjM5MDc4NDQsImV4cCI6MjAzOTQ4Mzg0NH0.uiRsWKWiOazDMJG0g8l5IJoo1qdKyhvbaKUTqMiQvsg