NEXT_PUBLIC_SUPABASE_URL=https://rqdynfqcyacvdwimzrvo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxZHluZnFjeWFjdmR3aW16cnZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjM4NzEyODksImV4cCI6MjAzOTQ0NzI4OX0.bkBo3c1kv_196YZpQVdrRjLkUVV08Kbv1piRN9lixOA