NEXT_PUBLIC_SUPABASE_URL=SUPABASE_PROJECT_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=ANON_KEY
NEXT_PUBLIC_APP_BASE_URL=TAPUP_URL

EMAIL_USER=MAILER_USER
EMAIL_PASSWORD=MAILER_PASSWORD
EMAIL_HOST=MAILER_SMTP_HOST
EMAIL_PORT=MAILER_SMTP_PORT
EMAIL_TLS=MAILER_SMTP_TLS

NEXT_PUBLIC_PRODUCT_NAME=Tapup
NEXT_PUBLIC_SITE_TITLE="Tapup Digital Business Card"
NEXT_PUBLIC_SITE_DESCRIPTION=App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_DEFAULT_THEME_MODE=system
NEXT_PUBLIC_THEME_COLOR=
NEXT_PUBLIC_THEME_COLOR_DARK=